*{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(7,7,32);
    color: white;

}

.body{
    background-image: url("../img/Figma/bakgrund.png");
}

.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    
    grid-template-rows:20vh 5fr;
    grid-template-areas: 
    "he he"
    "na na"
    ;
}

.he{
    display: flex;
    grid-area: he;
    justify-content: center;
    align-items: center; 
    border: solid white 1px;
    background: rgb(7,7,32);
    border-width: 1px;
    font-size: 36px;
}

.na{
    grid-area: na;
    
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0 3vh 0;
    width: 250px;
    height: 100px;
    position: relative;
    font-size: 40px;
}
li:first-child{
    border-left: none;
}

li:last-child{
    border-right: none;
}

li .bing {
    position: absolute;
    bottom: -1px;
    right: 5px;
    height: 10px;
    width: 50px;
    
}

li .bon {
    height: 100%;
    width: 100%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a{
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}


.active{
    background-color: rgb(23,23,46);
    color: white;

}

a:active{
    background-color: rgb(23,23,46);
    color:white;
}


    
    


