body,body *{
    margin: 0;
    box-sizing: border-box;
    background-color: gray;
    color: white;

}

body{
    background-image: url("../img/Figma/bakgrund.png");
    background-color: unset;
    background: no-repeat;
    background-size: cover;
    position: relative;
  
}

.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    position: relative;
    grid-template-rows:10vh 5fr;
    grid-template-areas: 
    "he he"
    "na na"
    ;
    background: unset;
}

.backa{
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 5;
    top: 0;


}

.backa img{
    height: 100%;
    
}
    
figure img{

    width: 90%;
    margin: 5%;
    
}

.na{
    grid-area: na;
    
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0 3vh 0;
    width: 250px;
    height: 100px;
    position: relative;
    font-size: 40px;

    
}

li:first-child{
    border-left: none;
}

li:last-child{
    border-right: none;
}

li .bing {
    position: absolute;
    bottom: -1px;
    right: 5px;
    height: 10px;
    width: 50px;
    
}

li .bon {
    height: 100%;
    width: 100%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

li .bonk {
    height: 100%;
    width: 100%;
    border: 5px solid white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    background-color: rgb(7,7,32, 0);
}

.a{
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin: 15px;
    position: relative;
    font-size: 40px;
}
.bink{

    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    right: 20px;
}
.g{
    background-color: green;
}
.r{
    background-color: red;
}
.o{
    background-color: orange;
}
.y{
    background-color: yellow;
}



.active{
    background-color: rgb(23,23,46);
    color: white;

}

a:active{
    background-color: rgb(23,23,46);
    color:white;
}


    
    


