body,body *{
    margin: 0;
    box-sizing: border-box;
    background-color: unset;
    color: white;

}

body{
    background-image: url("../img/Figma/bakgrundmakerspace.png");
    background-color: unset;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: auto 812px;
    object-fit: cover;

    
    
}

.arrow{

   position: absolute;
   left: 10px;
   top: 10px;
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

details summary::-webkit-details-marker{
    position: absolute;
    right: -2px;
    top: 28px;
    transform: translate(0,-50%);
}

details table{
    position: absolute;
    z-index: 2;
    background-color: rgb(25,15,39);
    width: 280px;
    border: solid white 2px;
    border-spacing: 0px;
}

details td{
    border-bottom: solid white 2px;
    text-align: center;
    font-size: 38px;
    
}


.bynk{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.help summary::-webkit-details-marker{
    display: none;

}

.help table{
    right: 20px;
    top: 80px;

}


.question{

    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trasig form{
    background-color: unset;
    height: 100%;
    display: flex;
    align-items: center; 
    flex-direction: column;

}

.trasig form select{
    width: 90%;
    height: 40px;
    background-color: rgb(25,15,39);
    margin-top: 15%;
    border-radius: 20px;
    font-size: 30px;
    padding-left: 10%;
    border: solid white 3px;
    box-shadow:4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10%;

}

.trasig form select::-webkit-select-marker{
    display: none;

}

.trasig form label{
    color: black;
    font-size: 24px;
}

.trasig form input{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10%;
}

.trasig .text{
    height: 40%;

}

.trasig .skicka{
    height:100%;
    width: 280px;
    background-color: rgb(208,7,142);
    font-size: 24px;
}

.trasig{
    position: absolute;
    top: 120px;
    height: 550px;
    width: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border-radius: 20px;
    display: none;

}
 
.trasig .close i{
    position: absolute;
    left: 5%;
    color: black;
    top: 2%;
   
}

.open{
    display: block;

}

.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    position: relative;
    grid-template-rows:10vh 5fr;
    grid-template-areas: 
    "he he"
    "na na"
    ;
    background: unset;
}

.backa{
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 5;
    top: 0;


}

.backa img{
    height: 100%;
    
}
    
figure img{

    width: 90%;
    margin: 5%;
    
}

.na{
    grid-area: na;
    position: relative;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0 3vh 0;
    width: 250px;
    height: 100px;
    position: relative;
    font-size: 40px;

    
}

li:first-child{
    border-left: none;
}

li:last-child{
    border-right: none;
}

li .bing {
    position: absolute;
    bottom: -1px;
    right: 5px;
    height: 10px;
    width: 50px;
    background-color: rgb(25,15,39) ;
    
    
}

li .bon {
    height: 100%;
    width: 100%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(25,15,39) ;
}

li .bonk {
    height: 100%;
    width: 280px;
    border: 5px solid white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(25,15,39) ;
}




a{
    text-decoration: none;
    background-color: rgb(7,7,32, 0);
}

.a{
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin: 15px;
    position: relative;
    font-size: 40px;
}
.bink{

    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    right: 20px;
}

.g{
    background-color: green;
}
.r{
    background-color: red;
}
.o{
    background-color: orangered;
}
.y{
    background-color: yellow;
}



.active{
    background-color: rgb(23,23,46);
    color: white;

}

a:active{
    background-color: rgb(23,23,46);
    color:white;
}


    
@media screen and (min-width: 800px) {
    body{
        background-image: url("../img/Figma/maskeawsra.png");
        background-color: rgb(25,15,39,);
        background-blend-mode: initial;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
        background-size: 100vw 177vh;
        object-fit: cover;
    
        
        
    }

    figure img{

        width: 30%;
        margin-left: 35%;
        margin-top: -2%;

        
    }
    .trasig form{
        background-color: unset;
        height: 100%;
        display: flex;
        align-items: center; 
        flex-direction: column;
    
    }
    
    .trasig form select{
        width: 90%;
        height: 40px;
        background-color: rgb(25,15,39);
        margin-top: 15%;
        border-radius: 20px;
        font-size: 30px;
        padding-left: 10%;
        border: solid white 3px;
        box-shadow:4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 10%;
    
    }
    
    .trasig form select::-webkit-select-marker{
        display: none;
    
    }
    
    .trasig form label{
        color: black;
        font-size: 24px;
    }
    
    .trasig form input{
        width: 80%;
        height: 40px;
        border-radius: 20px;
        margin-bottom: 10%;
        

    }
    

    .trasig .text{
        height: 40%;
        
    
    }
    
    .trasig .skicka{
        height:100%;
        width: 280px;
        background-color: rgb(208,7,142);
        font-size: 24px;
    }
    
    .trasig{
        position: absolute;
        top: 100px;
        height: 700px;
        width: 400px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: white;
        border-radius: 20px;
        display: none;
    
    }
     
    .trasig .close i{
        position: absolute;
        left: 5%;
        color: black;
        top: 2%;
       
    }
    
    .open{
        display: block;
    
    }
    







    
}    


